<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To Do</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'todo_home' %}">To Do App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'todo_home' %}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'api_view'  %}">API View<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <form  method="post" action="" id="id_form">{% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Add item here" aria-label="Search" name="item">
        <button class="btn btn-secondary" type="submit">Add Item</button>


        {% if all_items %}
			<table class="table table-bordered">
				{% for items in all_items %}
					{% if items.completed %}
						<tr class="table-secondary">
							<td id="item">{{ items.item }}</td>
							<td id="uncross"><center>Uncross</center></td>
							<td id="delete_item"><center>Delete</center></td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		{% endif %}
    </form>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
       $(document).ready(function () {
        $("#id_form").submit(function (event) {
            event.preventDefault();
            var formData = $(this).serializeJSON();//$( this ).serializeObject();
            console.log(formData);
            $.ajax({
                url: "{% url "add_item" %}",
                type: "POST",
                data: formData,//JSON.stringify(formData),
                contentType: "application/json",
                Accept: "application/json",
                success: function (data) {
                    console.log(data);
                    toastr.success('Successful');
                    setTimeout(function(){// wait for 5 secs(2)
                           location.reload(); // then reload the page.(3)
                      }, 1000);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        });
    });
</script>
</html>